/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}
body .ellipse {
  background: linear-gradient(
    180deg,
    rgba(140.25, 12.27, 96.74, 0.5) 80.76%,
    rgba(73.68, 97.25, 112.62, 0.46) 49.27%,
    rgba(36.35, 16.49, 158.31, 0) 100%
  );
  border-radius: 619.5px/386.5px;
  filter: blur(512px);
  height: 773px;
  left: 277px;
  position: absolute;
  top: 0;
  width: 1239px;
}

.containers {
  position: relative;
  width: 90%;
  padding: 25px;
  margin: top 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.containers header {
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.containers .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}

form label {
  color: #fff;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}
.inputbox2 {
  position: relative;
  height: 50px;
  width: 80%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 28px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  background-color: white;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.submit-btn,
.back-btn {
  border: none;
  border-radius: 8px; /* Adjust border radius for rounded corners */
  height: 50px;
  width: 18%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 29px;
}
.submit-btn {
  float: right;

  background: linear-gradient(
    180deg,
    rgb(71, 118, 230) 0%,
    rgb(142, 84, 233) 100%,
    rgb(142, 84, 233) 100%
  ) !important;
}

.back-btn {
  background-color: #ccc; /* Button background color */
  margin-right: 500px;
}

/* Change button background color on hover */
.back-btn:hover {
  background-color: #999;
}
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
}
